<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <script src="@Url.Content("/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("/Scripts/Code/js.js")" type="text/javascript"></script>
    
</head>
<body>
    <div class="site-welcome">
        <img class="bg" src="~/Images/bg_new.jpg" />
    </div>

    @*<div id="main_container">
        <div class="shadow-container">
            <div class="center_content">
               <div class="center_left">
                   @RenderBody() 
               </div>
               <div class="clear"></div> 
            </div>
        </div>
    </div>*@
    @RenderBody()

    <div class="gearbox">
        <img src="~/Images/gear.svg" id="gear"/>
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
